@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: rgb(142, 195, 224);
    --text-color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}

nav a {
    text-decoration: none;
    color: white; 
    margin: 0 20px;
    font-size: 18px;
}

.hero img, .intro img {
    display: block;
    width: 100%;
    height: auto;
}

article, section {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: white; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: white; 
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    filter: none; 
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.image-gallery figure {
    width: 48%; 
    margin: 1%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery img {
    width: 100%; 
    height: auto; 
}

.image-gallery figcaption {
    margin-top: 8px;
}

@media (min-width: 768px) {
    .image-gallery figure {
        width: calc(25% - 20px);
        margin: 10px;
    }

    .hero h1, .intro h1 {
        font-size: 1.5em;
    }

    nav a {
        margin: 0 8px;
        font-size: 0.9em;
    }

    .image-row img {
        margin-bottom: 15px;
        border-radius: 10%;
    }
}

.history-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: justify; 
    gap: 20px; 
}

.history-image {
    width: 300px; 
    height: auto;
    border-radius: 50%;
}
